*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    box-sizing: border-box;
    padding: 10px 10px;
    background-color:  rgb(248,248,248);
}

.box h5{
 font-size: 18px;
}

img{
    max-width: 500px;
}